{% extends '@a/layout.twig' %}
{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Список страниц</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% if access('@pages_admin_add') %}
                    <a class="btn btn-sm btn-primary mb-3"
                       href="{{ url('@pages_admin_add') }}">Добавить новую страницу</a>
                {% endif %}

                <table id="users-list" class="table table-borderless">
                    <thead>
                    <tr class="table-dark">
                        <th scope="col">Заголовок</th>
                        <th scope="col">Twig code</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr {% if not item.isStatus %}class="table-light text-muted" {% endif %}>
                            <td><h4>{{ item.getTitle }} {% if not item.isStatus %}<small>[не активный]</small> {% endif %}</h4>
                                <div>
                                    <small><a target="_blank"
                                              href="{{ url('pages_view', {'slug': item.getSlug}) }}">{{ url('pages_view', {'slug': item.getSlug}) }}</a></small>
                                </div>

                            </td>
                            <td>
                                <code class="user-select-all">&lcub;&lcub; url('pages_view', {'slug': '{{ item.getSlug }}'}) &rcub;&rcub;</code>
                            </td>

                            <td>
                                {% if access('@pages_admin_edit') %}
                                    <a class="btn btn-sm btn-secondary"
                                       href="{{ url('@pages_admin_edit', {'id': item.getId}) }}">Редактировать</a>
                                {% endif %}
                                {% if access('@pages_admin_delete') %}
                                    <a class="btn btn-sm btn-danger"
                                       href="{{ url('@pages_admin_delete', {'id': item.getId}) }}">Удалить</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
